body{
font-family: Muller;
}
.content{
  padding-left: 5%;
  padding-right: 5%;
}
.name{
  font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 93px;
letter-spacing: -0.176749px;
margin-top: 50px;
margin-bottom: 50px;
color: #3C4A6D;
}
.allContent{
  display: flex;

}
.left_content{
  display: flex;
  flex-flow: row;
  z-index: 55;
  width: 70%
}
.right_content{
  background-image: url("../image/attraction.png");
  width: 405px;
  height: 344px;
  z-index: 55;
}
.inform{
}
.inform p:nth-child(1){
  font-family: Muller;
font-style: normal;
font-weight: 500;
font-size: 47.2957px;
line-height: 83px;
letter-spacing: -0.157652px;
color: #3C4A6D;
margin:0px;
}
.inform p:nth-child(2){
  font-family: Muller;
  font-style: normal;
  font-weight: 300;
  font-size: 18.9183px;
  line-height: 19px;
  color: #3C4A6D;
  margin:0px;
  width: 65%;
}
.left_block{
  display: flex;
  align-content: center;
}
.block_img{
  padding-top: 30px;
    padding-right: 30px;
}
.button{
  display: flex;
      z-index: 55;
}
.button a{
  font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 53px;
color:white;
background: #FFC246;
box-shadow: 0px 25.2306px 125.144px rgba(255, 194, 70, 0.5);
border-radius: 37.3413px;
text-decoration: none;
padding: 25px 40px;
display: flex;
    z-index: 55;
}
.button a:hover{
  background: #f5b942;
    -webkit-box-shadow: 0px 12px 39px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.1);
    -moz-box-shadow: 0px 12px 39px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: 0px 12px 39px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
}
footer{
justify-content: center;
margin-top: 9%;
}
footer nav a{
  font-family: Muller;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 30px;
text-align: center;
color: #3C4A6D;
text-decoration: none;
}
footer nav a:nth-child(3), footer nav a:nth-child(2){
padding-left: 85px;
}
.button a{
  margin-top: 20px;
  margin-right: auto;
}
@media screen and (max-width: 1700px){
footer{
  margin-top: 8%;
}
}
@media screen and (max-width: 1500px){
.footerfon{
  margin-top: 600px;
}
footer{
  margin-top: 13%;
}
}
@media screen and (max-width: 1400px){

  .footerfon{
    margin-top: 700px;
  }
  footer{
    margin-top: 17%;
  }
}
@media screen and (max-width: 1150px){
  .footerfon{
    margin-top: 800px;
  }
  footer{
    margin-top: 25%;
  }
}
@media screen and (max-width: 1130px){
  footer{
    margin-top: 14%;
  }
}
@media screen and (max-width: 1010px){
  footer{
    margin-top: 12%;
  }
}
@media screen and (max-width: 950px){
.footerfon{
  height: 300px;
  margin-top: 900px;
}
footer{
  margin-top: 18%;
}

}
@media screen and (max-width: 850px){
  .footerfon{
    height: 250px;
    margin-top: 950px;
  }
  footer{
    margin-top: 20%;
  }
}
@media screen and (max-width: 764px){
  footer{
    margin-top: 22%;
  }
}
@media screen and (max-width: 680px){
  footer{
    margin-top: 24%;
  }
}
@media screen and (max-width: 650px){
  footer{
    margin-top: 27%;
  }
  footer nav a{
    font-size: 25px;
  }
  footer nav a:nth-child(2), footer nav a:nth-child(3){
    padding-left: 30px;
  }
}
@media screen and (max-width: 594px){
  footer{
    margin-top: 28%;

  }
}
@media screen and (max-width: 594px){
  footer{
    margin-top: 29%;
  }
}
@media screen and (max-width: 580px){
.footerfon{
  margin-top: 780px;
}
}
@media screen and (max-width: 520px){
  .footerfon{
    margin-top: 760px;
  }

}
@media screen and (max-width: 480px){
  .footerfon{
    margin-top: 680px;
  }
}
@media screen and (max-width: 480px){
  .footerfon{
    margin-top: 670px;
  }
}
@media screen and (max-width: 450px){
footer nav a{
  font-size: 22px;
}
footer nav a:nth-child(2), footer nav a:nth-child(3){
  padding-left: 15px;
}
}
@media screen and (max-width: 380px){
  .footerfon{
    margin-top: 650px;
  }
}
@media screen and (max-width: 350px){
  .footerfon{
    margin-top: 650px;
  }
  footer nav a{
    font-size: 20px;
  }
  footer nav a:nth-child(2), footer nav a:nth-child(3){
    padding-left: 10px;
  }
}
@media screen and (max-width: 350px){
}
@media screen and (max-width: 1700px){
footer{
  margin-top: 4%;
}
}
@media screen and (max-width: 1640px){
  .footerfon{
    margin-top: 80px;
  }
}
@media screen and (max-width: 1400px){

  .footerfon{
    margin-top: 150px;
  }
  footer{
    margin-top: 8%;
  }
}
@media screen and (max-width: 1280px){
  .footerfon{
    margin-top: 180px;
  }
  footer{
    margin-top: 10%;
  }
}
@media screen and (max-width: 1270px){
  .footerfon{
    margin-top: 620px;
  }
  footer{
    margin-top: 10%;
  }
}
@media screen and (max-width: 1160px){
  .footerfon{
    margin-top: 650px;
  }
  footer{
    margin-top: 10%;
  }
}
@media screen and (max-width: 1048px){
  .footerfon{
    margin-top: 850px;
  }
  footer{
    margin-top: 9%;
  }
}
@media screen and (max-width: 1009px){
  .footerfon{
    margin-top: 900px;
  }
  footer{
    margin-top: 12%;
  }
}
@media screen and (max-width: 950px){
  .footerfon{
    margin-top: 950px;
  }
  footer{
    margin-top: 12%;
  }
}
@media screen and (max-width: 950px){
  .footerfon{
    margin-top: 950px;
  }
  footer{
    margin-top: 12%;
  }
}
@media screen and (max-width: 853px){
  .footerfon{
    margin-top: 950px;
  }

  footer nav a{
    font-size: 25px;
  }
  footer nav a:nth-child(2), footer nav a:nth-child(3){
    padding-left: 30px;
  }
}
@media screen and (max-width: 850px){
  .footerfon{
    margin-top: 1000px;
  }
  footer{
    margin-top: 12%;
  }
}
@media screen and (max-width: 780px){
  .footerfon{
    margin-top: 1000px;
  }
  footer{
    margin-top: 14%;
  }
}
@media screen and (max-width: 748px){
  .footerfon{
    margin-top: 1080px;
  }
  footer{
    margin-top: 15%;
  }
}
@media screen and (max-width: 648px){
  .footerfon{
    margin-top: 1080px;
  }
  footer{
    margin-top: 17%;
  }
}
@media screen and (max-width: 648px){
  .footerfon{
    margin-top: 1080px;
  }
  footer{
    margin-top: 17%;
  }
}
@media screen and (max-width: 600px){

  footer{
    margin-top: 20%;
  }
  .button a{
    line-height: 40px;
    font-size: 40px;
  }
}
@media screen and (max-width: 580px){

  footer{
    margin-top: 21%;
  }
}
@media screen and (max-width: 580px){

  footer{
    margin-top: 23%;
  }
}
@media screen and (max-width: 520px){
  footer{
    margin-top: 23%;
  }
  .footerfon{
    margin-top: 960px;
  }
}
@media screen and (max-width: 490px){
footer nav a{
  font-size: 22px;
}
footer nav a:nth-child(2), footer nav a:nth-child(3){
  padding-left: 15px;
}

.button a{
  line-height: 35px;
  font-size: 35px;
}
}
@media screen and (max-width: 470px){
  .footerfon{
    margin-top: 870px;
  }
}
@media screen and (max-width: 415px){
  .footerfon{
    margin-top: 850px;
  }
  .button a{
    line-height: 30px;
    font-size: 30px;
  }
}
@media screen and (max-width: 399px){
  .footerfon{
    margin-top: 780px;
  }
  .button a{
    line-height: 30px;
    font-size: 30px;
  }
}
@media screen and (max-width: 350px){
  .button a{
    line-height: 25px;
    font-size: 25px;
  }

  .button a{
    font-size: 25px;
  }
  footer nav a{
    font-size: 20px;
  }
  footer nav a:nth-child(2), footer nav a:nth-child(3){
    padding-left: 10px;
  }
}
@media screen and (max-width: 347px){
  .footerfon{
    margin-top: 850px;
  }
  .button a{
    line-height: 30px;
    font-size: 30px;
  }
}
@media screen and (max-width: 1570px){
.inform p:first-child{
font-size: 37px;
}
.block_img img{
  width: 150%;
}
.inform p:nth-child(2){
  width: 70%;
}
}
@media screen and (max-width: 1470px){
.content{
  padding-left: 4%;
  padding-right: 4%;
}
.inform p:nth-child(2){
  width: 75%;
}
}
@media screen and (max-width: 1270px){
  .button a{
    margin-right: auto;
margin-left: auto;
  }
.allContent{
  flex-flow: column-reverse;
  display: flex;
}
.right_content{
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  width: 500px;
height: 440px;
}
.left_content{
  margin-top: 50px;
  margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.inform p:nth-child(1){
  font-family: Muller;
font-style: normal;
font-weight: 500;
font-size: 47.2957px;
}
.block_img img {
    width: auto;
}
}
@media screen and (max-width: 1050px){
.content{
  padding-left: 3%;
  padding-right: 3%;
}
.left_content{
  display: flex;
  flex-flow: column;
}
}
@media screen and (max-width: 600px){
.name{
  font-size: 70px;
  line-height: 53px;
}
}
@media screen and (max-width: 560px){
.right_content{
  width: 100%;
  background-size: cover;
    background-repeat: no-repeat;
}
}
@media screen and (max-width: 540px){
  .right_content{
height:450px;
}
}
@media screen and (max-width: 520px){
.inform p:first-child{
  font-size: 40px;
line-height: 60px;
}
.right_content{
height: 350px;
}
}
@media screen and (max-width: 470px){
.block_img img{
  width: 150%;
}
.inform p:first-child{
  font-size: 38px;
}
.inform p:nth-child(2){
font-size: 16px;
width: 85%;
}
}
@media screen and (max-width: 430px){
  .right_content{
  }
}
@media screen and (max-width: 400px){
.name{
  font-size: 60px;
}
.right_content{
height: 280px;
}
.inform p:first-child{
  font-size: 30px;
}
.inform p:nth-child(2){
font-size: 15px;
width: 85%;
}
.name{
  font-size: 50px;
}
}
@media screen and (max-width: 400px){
  .right_content{
  }
}
